
  <form action="/response">
    <div class="form-group">
      <label for="sentence">What sentence do you want to translate?</label>
      <input id="sentence" name="sentence" class="form-control" type="text">
      <label for="word1">What word do you want to replace?</label>
      <input id="word1" name="word1" class="form-control" type="text">
      <label for="word2">What word do you want to insert?</label>
      <input id="word2" name="word2" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Go</button>
  </form>
